html {
	width: 100%;
	font-size: 18px;
}

body {
	margin-top: 10px;
	font-family: serif;
	text-align: left;
}

p {
	text-indent: 20px;
	/* Отступ первой строки */
}

.mycolor {
	background-color: #ADFF2F;
}

.forma_user {
	padding-top: 10px;
	margin-top: 5px;
	max-width: 90%;
	margin: 0 auto;
}

.button {
	width: 11em;
	height: 3em;
	background: #DC143C;
	border-radius: 12px;
	color: white;
}

input {
	border-radius: 15px;
	background-color: #fff;
	color: #000;
	height: 30px;
	margin-bottom: 0;
}

table {
	border-collapse: collapse;
	/* Убираем двойные линии между ячейками */
}

td,
th {
	padding: 3px;
	/* Поля вокруг содержимого таблицы */
	border: 1px solid black;
	/* Параметры рамки */
}

th {
	background: #b0e0e6;
}