html {
	width: 100%;
	font-size: 18px;
}

body {
	font-family: serif;
	text-align: left;
}

.my_form {
	max-width: 70%;
	margin: 0 auto;
}

.button {
	width: 10em;
	height: 3em;
	background: #DC143C;
	border-radius: 15px;
	color: white;
}

.form_text {
	border-radius: 20px;
	background-color: #fff;
	padding: 8px 15px;
	color: #000;
	min-height: 10rem;
	margin-bottom: 15px;
}

.my_input {
	border-radius: 15px;
	background-color: #fff;
	color: #000;
	height: 42px;
	margin-bottom: 0;
}


/* Сообщения об ошибках и поля с ошибками выводим с красным бордюром. */

.error {
	border: 5px outset red;
}